<html>
<head>
  <title>RESULTS FOR : {{ username }}</title>
</head>

<body>
<table width="900" height="200" border="5" cellspacing="15" bordercolor="#fff">
<h2>RESULTS FOR : {{ username }}</h2>
<hr />

<td valign="top"><p class="style1"> </p>
<h3 class="style1"><a href="www.baidu.com">{{title}}</a></h3>
<p class="style1">baiduyixia, nijiuzhidao</p><br />
</table>

<footer id="footer_wrapper" role="navigation">
    <span class="footer_copyright">
        © 2020-07-19 hdn
</footer>

</body>
</html>
