<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>LeavesSearch3.0</title>
</head>

<body>
<br><br>
<center>
<div id="content" style="width:1000px">
<font size="54" color= "#FF4500" >Welcome </font>
<font size="54" color= "orange" >to </font>
<font size="54" color= "#FFD700" >Leaves</font>
<font size="54" color= "#98FB98" >Search </font>
<font size="54" color= "blue" >3.0</font>
<br>
<br>
<form method='post' action='/submit'>
<button style="  float:right; width: 100px; height: 100px; border-radius:100%; overflow:hidden; background: url('{{url_for('static', filename = '2.jpg')}}') "  > </button>
<br><br>
<input type="test" name='name' style="width: 800px; height: 40px;">

</form> 

</div>
</center>
</body>



</html>
